*{
    margin: 0;
    padding: 0;
  }
  body{
    height: 100vh;
  }
  .heading{
    padding-top: 4rem;
    font-size: 2rem;
  }
  .heading h1{
    text-align: center;
    padding:1rem;
  }
  .heading h1 span{
    border-bottom: 0.3rem solid aqua;
  }
  .card_container{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 600px;
    padding: 1rem;
    background: rgb(248, 245, 242);
  }
  .card{
    text-align: center;
  }
  .card img{
    width: 200px;
    border-radius: 50%;
  }
  .name{
    font-weight: bold;
    font-size: 1.6rem;
    padding: 0.3rem;
  }
  .title{
    color: rgb(65, 144, 13);
    font-weight: bold;
    font-size: 1.3rem;
  }
  .review{
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
  }
  .slid_btn{
  font-weight: bold;
  font-size: 1.8rem;
  color: rgb(65, 144, 13);
  padding: 0.2rem;
  }
  .slid{
    padding: 0.2rem;
    cursor: pointer;
  }
  .btn{
    background: rgb(65, 144, 13);
    display: inline-block;
    font-size: 1.3rem;
    padding: 0.4rem;
    border-radius:12px;
    cursor: pointer;
  }
  /* * {
    margin: 0;
    padding: 0;
  }
  .heading {
    margin-top: 1.5rem;
  }
  .heading h1 {
    letter-spacing: 2px;
    font-size: 3rem;
    text-align: center;
  }
  .heading h1 span {
    padding: 0.2rem;
    border-bottom: 0.3rem solid aquamarine;
  }
  .card {
    max-width: 600px;
    background: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.3rem;
    padding: 2rem;
    text-align: center;
  }
  .card img {
    width: 200px;
    border-radius: 50%;
  }
  .name {
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    padding: 0.1rem;
  }
  .title {
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    padding: 0.1rem;
    color: rgb(87, 136, 13);
  }
  .review {
    padding: 1rem;
    font-size: 1rem;
    padding-bottom: 0;
  }
  .slid_btn {
    padding: 1rem;
  }
  .btn,
  .slid {
    font-weight: bold;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.2rem;
  }
  .btn {
    background: aquamarine;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 12px;
  }
  .prev,
  .next {
    font-size: 1.6rem;
    color: rgb(255, 149, 62);
  }
  .card {
    display: none;
    padding-bottom: 6rem;
  }
  .slid_btn,
  .btn {
    position: absolute;
    top: 85%;
    left: 46.8%;
  }
  .btn {
    top: 93%;
    left: 46.45%;
  }
  body {
    /* position: relative; */
    /* height: 100%;
  } */
  